:root {
    --color-darkest-grey: #181818;
    --color-dark-grey: #282828;
    --color-medium-grey: #424242;
    --color-light-grey: #cbcbcb;
    --color-lightest-grey: #f2f2f2;
    --color-white: #fff;
    --color-transparent: rgba(255, 255, 255, 0);

    --color-card: #efefef;
    --color-card-hover: #e5e5e5;

    --color-orange: #d26f3a;
    --color-orange-hover: #c04b0c;

    --color-blue: #27a5b6;
    --color-blue-hover: #06afc5;

    --color-purple: #703d9f;
    --color-purple-hover: #8d5eb9;

    --color-delete: #cc3b28;
    --color-delete-hover: #e5250f;

    --border-radius-1: 0.3rem;
    --border-radius-2: 0.1rem;

}

/*
  APP SECTIONS
*/
.App-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.App-header {
    display: flex;
    width: 100%;
}

.App-header-user {
    background-color: var(--color-dark-grey);
    color: white;
}

.App-main {
    display: flex;
    width: 100%;
    flex-grow: 1;
}


.App-footer {
    display: flex;
    width: 100%;
    background-color: var(--color-darkest-grey);
}

/*
  SECTIONS
*/

.navigation {
    width: 100%;
    max-width: 1624px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    box-sizing: border-box;
}

.content {
    flex-grow: 1;
    width: 100%;
    max-width: 1624px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    box-sizing: border-box;
    min-height: calc(100vh - 131.81px - 114px)
}

.footer {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    box-sizing: border-box;
    color: white;
}

a {
    color: var(--color-orange);
    font-weight: bold;
    text-decoration: none;
    transition: all 300ms ease;
}

a:hover {
    color: var(--color-orange-hover);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 4rem;
}

.nav-links li {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: var(--color-darkest-grey);
    transition: all 300ms ease;
    display: flex;
    align-items: center;
    font-weight: normal;
}

.nav-links a:hover {
    text-decoration: none;
    color: var(--color-medium-grey);
}

.App-header-user .nav-links a {
    color: white;
}

/*
  SPECIFIC PAGES
*/
.page {
    width: 100%;
    justify-content: space-between;
}

.page p, .page h2 {
    text-align: center;
}

.secret {
    background-image: url('../public/images/background1.JPG');
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: white;
}

/*
  BUTTON
*/
.button {
    box-sizing: border-box;
    margin: 0.4rem 0;
    width: 20rem;
    padding: 0.6rem 0.6rem;
    font-size: 1rem;
    border-radius: var(--border-radius-1);
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms ease;
    background-color: var(--color-medium-grey);
    color: var(--color-white);
}

.button:hover {
    background-color: var(--color-dark-grey);
}

.button-register {
    background-color: var(--color-orange);
    color: var(--color-white);
    font-weight: bold;
    width: 100%;
}

.button-register:hover {
    background-color: var(--color-orange-hover);
}

.button-login {
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: bold;
    width: 100%;
}

.button-login:hover {
    background-color: var(--color-blue-hover);
}

.button-register-home {
    background-color: var(--color-darkest-grey);
    color: var(--color-white);
    font-weight: bold;
    width: 100%;
}

.button-register-home:hover {
    background: var(--color-medium-grey);
}

.button-logout {
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: normal;
    max-width: 6rem;
    font-size: 1.2rem;
    padding: 0.4rem 0.4rem;
    box-sizing: border-box;
    margin: 0;
}

.button-logout:hover {
    background-color: var(--color-blue-hover);
}

.button-view {
    box-sizing: border-box;
    color: var(--color-white);
    background-color: var(--color-medium-grey);
    width: 3rem;
    gap: 2rem;
    margin: 0 0.3rem;
    justify-content: center;
    align-items: center;
}

.button-view:hover {
    background-color: var(--color-dark-grey);
    box-sizing: border-box;
}

.button-view svg {
    vertical-align: middle;
}

.button-view.selected {
    border: none;
    color: var(--color-white);
    background-color: var(--color-blue);
    box-sizing: border-box;
}

.button-cancel {
    width: 100%;
    font-weight: bold;
}

.button-delete {
    width: 100%;
    font-weight: bold;
    background-color: var(--color-delete);
    transition: all 300ms ease;
}

.button-delete:hover {
    background-color: var(--color-delete-hover);
}

/*
  FORMS
*/
form {
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.form {
    border: 1px solid var(--color-light-grey);
    border-radius: var(--border-radius-1);
    max-width: 350px;
    margin: 0 auto;
    padding: 2rem;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.form h2 {
    margin-top: 0;
}

.form p {
    text-align: left;
    font-size: 0.9rem;
    margin: 0.2rem 0 1rem 0;
    color: var(--color-medium-grey);
}

input[type=text], input[type=password], input[type=date], input[type=number] {
    width: 100%;
    padding: 0.8rem 0.8rem;
    background-color: var(--color-lightest-grey);
    border: 1px solid var(--color-light-grey);
    border-radius: var(--border-radius-1);
    box-sizing: border-box;
    margin: 0.2rem 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}


hr {
    border-top: 1px solid var(--color-light-grey);
    margin: 1.2rem 0;
}

/*
    SESSION ADD
*/
.session-add-form {
    max-width: 500px;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--color-light-grey);
    border-radius: var(--border-radius-1);
    padding: 2rem;
}

.difficulty-container {
    margin: 1rem 0;
    border: 1px solid var(--color-light-grey);
    border-radius: 0.4rem;
    overflow: hidden;
    box-sizing: border-box;
}

.toggle-difficulty {
    display: flex;
    align-items: center;
    background-color: var(--color-dark-grey);
    color: var(--color-white);
    box-sizing: border-box;
    padding: 0.6rem 0.4rem;
    cursor: pointer;
}

.difficulty-options label {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.climb-buttons {
    display: flex;
    gap: 0.4rem;
    border: 1px solid var(--color-light-grey);
    border-radius: 0.4rem;
    padding: 0.2rem;
    align-items: center;
    background-color: var(--color-lightest-grey);
}

.climb-buttons svg {
    color: var(--color-blue);
}

.climb-buttons svg:hover {
    color: var(--color-blue-hover);
    cursor: pointer;
}

/*
    SESSION UPDATE
*/
.session-update-form {
    max-width: 500px;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--color-light-grey);
    border-radius: var(--border-radius-1);
    padding: 2rem;
}

.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group label {
    min-width: 12rem;
}

.input-group input[type=number] {
    margin-right: 2rem;
    height: 32px;
}

.button-update {
    background-color: var(--color-orange);
    color: var(--color-white);
    font-weight: bold;
    width: 100%;
}

.button-update:hover {
    background-color: var(--color-orange-hover);
}

.back-text {
    color: var(--color-medium-grey);
    cursor: pointer;
    transition: all 300ms ease;
    text-decoration: underline;
}

.back-text p {
    text-align: left;
}

.back-text:hover {
    color: var(--color-dark-grey);
}

/*
  TOASTIFY
*/
.Toastify__toast-body {
    color: var(--color-medium-grey);
    font-family: 'Roboto', sans-serif;
}

.Toastify__toast-icon {
    padding-bottom: 5px;
}

/*
    TABLES
*/
.table-container {
    border-radius: 1rem;
    overflow-x: auto;
    margin-bottom: 2rem;
}

table {
    width: 100%;
    background-color: var(--color-card);
    box-sizing: border-box;
    text-align: left;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 4rem;
}

thead {
    padding: 1rem;
    background-color: var(--color-dark-grey);
    border-radius: 1rem 1rem 0 0;
}

th {
    padding: 1.5rem 1rem;
    box-sizing: border-box;
    font-size: 1rem;
    color: var(--color-white);
}

td {
    padding: 1rem 1rem;
    box-sizing: border-box;
    border-top: 1px solid var(--color-light-grey);
}

tbody tr:hover {
    background-color: var(--color-card-hover);
}

.delete-icon {
    color: var(--color-delete);
    cursor: pointer;
    transition: all 300ms ease;
}

.delete-icon:hover {
    color: var(--color-delete-hover);
}

.update-icon {
    color: var(--color-orange);
    cursor: pointer;
    transition: all 300ms ease;
}

.update-icon:hover {
    color: var(--color-orange-hover);
}


/*
    SESSION CARD
*/

.session-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.session-card {
    background-color: var(--color-card);
    border-radius: 1.2rem;
    box-sizing: border-box;
    transition: all 300ms ease;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.session-card:hover {
    background-color: var(--color-card-hover);
}

.session-date {
    font-weight: bold;
    margin: 0;
    font-size: 1.1rem;
    color: white;
    background-color: var(--color-dark-grey);
    padding: 1rem;
}

.recharts-wrapper {
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
}

.toggle-view-container {
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.session-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

/*
    Account
*/
.account-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-form p {
    text-align: center;
    font-size: 1rem;
}


/* small devices (landscape phones) */
@media (max-width: 576px) {
    .App-header, .App-content, .App-footer {
        margin: 0;
        padding: 0;
    }

    .h1 {
        margin: 0 auto;
    }

    .navigation {
        max-width: 100%;
        display: block;
        margin: 0;
        padding: 1rem;
    }

    .nav-links {
        margin: 0 auto;
        padding: 0;
        gap: 1rem;
    }

    .content {
        padding: 0;
        margin: 0 0 2rem 0;
    }

    .session-wrapper {
        padding: 1rem;
        margin: 0;
    }

    .session-card-container {
        display: flex;
        justify-content: center;
    }

    .session-add-form, .session-update-form {
        border: none;
    }

    .table-container {
        margin: 1rem;
        overflow-x: auto;
    }

    table {
        width: 100%;
    }
}


/* x-large devices (large desktops)*/
@media (max-width: 1200px) {
    th:not(:first-child) {
        padding: 1.5rem 0.25rem;
        box-sizing: border-box;
        font-size: 1rem;
    }

    td:not(:first-child) {
        padding: 1rem 0.25rem;
    }
}